[submodule "lib/blobstream-contracts"]
	path = lib/blobstream-contracts
	url = https://github.com/celestiaorg/blobstream-contracts
[submodule "celestia_settlement_contract/lib/forge-std"]
	path = celestia_settlement_contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "celestia_settlement_contract/lib/openzeppelin-contracts"]
	path = celestia_settlement_contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
